/* 
Deep red color: #C42121
*/


/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------------------ */
/* REUSABLE */
/* ------------------------------------------ */

.row {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* --- Headings --- */
h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 15px;
    color: #b2b2b2;
}

h2 {
    font-size: 117%;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: #969696;
}

.small-hed {
    text-transform: uppercase;
    text-align: center;
    font-size: 150%;
    word-spacing: 4px;
    margin-bottom: 15px;
    padding-top: 10px;
}

p.dek {
    text-align: center;
    font-weight: 300;
    color: #555;
    margin-bottom: 50px;
    width: 70%;
    margin-left: 15%;
    line-height: 145%;

}

p.dek:after {
    display: block;
    height: 2px;
    background-color: #C42121;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* --- Buttons -- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]:link,
input[type=submit]:visited {
    background-color: #C42121;
    border: 1px solid #C42121;
    color: #eee;
    margin: 40px 20px 20px 0px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #C42121;
    color: #c42121
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #7F0000;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #7F0000;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #7F0000;
    border: 2px solid #7F0000;
    color: #eee;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --- Blockquotes --- */

blockquote {
    padding: 10%;
    line-height:135%;
}

cite {
    color: #C42121;
    margin-top: 25px;
    display: block;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/header-world-oyama-karate-atlanta.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header-world-oyama-karate-atlanta.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 100%;
    text-align: left;
    top: 35%;
    left: 10%;
}

/* --- Main Nav -- */

.logo,
.logo-transparent {
    height: 80px;
    width: auto;
    float: left;
}

.logo {
    margin-left: 30px;
    margin-top: 20px;
}

.logo-transparent { display: none; }

.main-nav {
    list-style: none;
    float: right;
    margin-top: 35px;
    margin-right: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav a:link,
.main-nav a:visited {
    text-decoration: none;
    font-size: 80%;
    color: #eee;
    font-weight: 100;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
    padding: 8px 0;
}

.main-nav a:hover,
.main-nav a:active {
    border-bottom: 2px solid #C42121;
}

.main-nav a:link.free-trial,
.main-nav a:visited.free-trial {
    color: #C42121;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    border-bottom: none;
}

.main-nav a:hover.free-trial,
.main-nav a:active.free-trial {
    color: #eee;
    border-bottom: none;
}

/* --- Mobile Nav --- */
.mobile-nav-icon {
    float: right;
    cursor: pointer;
    margin-top: 30px;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #fff;
}

/* --- Sticky Nav --- */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-bottom: 10px;
    margin-top: 18px;
}

.sticky .logo { display: none; }
.sticky .logo-transparent {
    display: block;
    width: 55px;
    height: auto;
    margin: 5px 0px 5px 30px;
}

.sticky .main-nav a:link,
.sticky .main-nav a:visited {
    color: #555;
}

.sticky .main-nav a:link.free-trial,
.sticky .main-nav a:visited.free-trial {
    color: #C42121;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.sticky .main-nav a:hover.free-trial,
.sticky .main-nav a:active.free-trial {
    border-bottom: 2px solid #C42121;
}



/* ------------------------------------------ */
/* FEATURES */
/* ------------------------------------------ */

.features-section {
    width: 90%;
    margin: 0 auto;
}

.features-section ion-icon {
    font-size:180%;
    color: #C42121;
    margin-bottom: 15px;
    display: block;    
}

.features h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color:#555;
    font-weight: 300;
    text-transform: uppercase;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------------------------------------------ */
/* GALLERY */
/* ------------------------------------------ */

.gallery-section {
    padding: 0;
}

.dojo-showcase {
    list-style: none;
    width: 100%;
}

.dojo-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.dojo-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.dojo-photo img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.dojo-photo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/* ------------------------------------------ */
/* INSTRUCTOR */
/* ------------------------------------------ */

.instructor-section {
    margin: 0 auto;
    background-color: #f4f4f4;
    width: 100%;
}

.instructor-row {
    width: 70%;
}

.instructor-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.instructor-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 20px;
}

.instructor-photo { 
    text-align: center;
}

.instructor-photo img {
    -webkit-box-shadow: 4px 4px rgba(185, 182, 182, 0.38);
    box-shadow: 4px 4px rgba(185, 182, 182, 0.38);
}

/* ------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------ */

.testimonials-section {
    width: 80%;
    margin: 0 auto;
}

.student-photo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.student-photo img{
    width: 50%;
    border-radius: 50%;
}

/* ------------------------------------------ */
/* SCHEDULE */
/* ------------------------------------------ */

.schedule-section {
    padding: 0;
}

.schedule-container {
    list-style: none;
    width: 100%;
}

.schedule-container li {
    display: block;
    float: left;
    width: 50%;
}

.left-box,
.right-box {
    text-align: center;
    padding: 80px 50px;
    width: 50%;
}

.left-box {
    background-color: #C42121;
    color: #fff;
    float: left;
}

.right-box {
    background-color: #f4f4f4;
    color: #555;
    float: right;

}

.right-box h2 {
    color: #C42121
}
.pre-hed {
    margin-bottom: 40px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 80%;
}

.schedule-hed {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 18px;
    font-size: 150%;
}

.schedule-dek{
    margin-bottom: 28px;
}

p a:link,
p a:visited {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
    padding: 8px 0;
}

p a:hover,
p a:active {
    border-bottom: 2px solid #C42121;
}

/* ------------------------------------------ */
/* FIRST CLASS */
/* ------------------------------------------ */

.first-class-section {
    width: 90%;
    margin: 0 auto;
}

.first-class-section .row {
    margin: 0 auto;
    margin-bottom: 20px;
}

.step {
    width: 40%;
}

.icon-container {
    text-align: center;
}

.first-class-section ion-icon {
    font-size: 180%;
    text-align: center;
    color: #C42121;
    padding: 75px;
    border: 1px solid #efefef;
    border-radius: 21px;
    -webkit-box-shadow: 2px 2px 30px rgba(139,156,203,.15);
    box-shadow: 2px 2px 30px rgba(139,156,203,.15);
    vertical-align: middle;
}

/* --- Mobile Steps --- */

.mobile-step { display: none; }

.mobile-container ion-icon {
    padding: 30px;
    border: none;
    font-size: 250%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
}

.first-class-section .mobile-container {
    padding: 50px;
    border: 1px solid #efefef;
    border-radius: 21px;
    -webkit-box-shadow: 2px 2px 30px rgba(139,156,203,.15);
    box-shadow: 2px 2px 30px rgba(139,156,203,.15);
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
}

/* ------------------------------------------ */
/* TRIAL */
/* ------------------------------------------ */

.trial-section {
    background-color: #efefef;
}
.form-box {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.form-row {
    font-size: 145%;
    line-height: 200%;
}

.button-container { text-align: center; }

input[type=text],
select {
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 2px dashed #555;
}

input[type=submit] {
    background-color: #C42121;
    color: #eee;
    margin-top: 40px;
    border: 1px solid #C42121;
}

::-webkit-input-placeholder {
    font-weight:300;
    text-align: center;
}

:-ms-input-placeholder {
    font-weight:300;
    text-align: center;
}

::placeholder {
    font-weight:300;
    text-align: center;
}

/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer {
    padding: 50px;
    font-size: 80%;
    background-color: #555;
    color: #999;
}

footer ion-icon {
    font-size: 150%;
}

footer li {
    display: inline-block;
    padding: 12px;
   
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: #999;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}

.footer-links {
    float: left;
}

.footer-contact {
    float: right;
}

footer p {
    margin-top: 25px;
    text-align: center;
}

/* ---------------------------------------------- */
/* ANIMATIONS */
/* ---------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9 {
    opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated,
.js--wp-7.animated,
.js--wp-8.animated,
.js--wp-9.animated {
    opacity: 1;
}



